<div class="container mx-auto mt-28 px-5">
  <div class="flex justify-center">
    <div class="flex flex-col gap-3">
      <%== rodauth.login_form_header %>
      <%= render "login_form" %>
      <%== rodauth.login_form_footer %>
    </div>
  </div>
</div>
